<?xml version="1.0"?>
<model>
  <name>iris_hitl_gps_spoof</name>
  <version>1.0</version>
  <sdf version='1.5'>iris_hitl_gps_spoof.sdf</sdf>

  <author>
   <name>Aravind Raja</name>
   <email>aravindaraja@ssrc.tii.ae</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor adapted from "irirs_hitl" model for HITL with GPS spoofing.
  </description>
</model>
